.constructor {
    max-width: 50%;
    margin-top: 80px;
}

.constructorWrap {
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.itemWrap {
    margin-right: 25px;
}

.item {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 10px;
    margin-right: 15px;
}

.icon {
    margin-right: 10px;
}

.scrollableBox {
    overflow-y: auto;
    min-height: fit-content;
    max-height: 44vh;
}
  
.scrollableBox::-webkit-scrollbar {
    width: 10px;
}

.scrollableBox::-webkit-scrollbar-track {
    background: #2f2f37;
}

.scrollableBox::-webkit-scrollbar-thumb {
    background: #8585ad;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 40px;
}

.price {
    font-size: 48px;
}

.image > svg {
    margin-right: 40px;
    height: 40px;
    width: 40px;
}

.emptyConstructor {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px 24px;
    max-width: 536px;
    width: 100%;
    min-height: 80px;
    font-size: 16px;
    line-height: 24px;
    background-color: #2f2f37;
}

.fillings {
    border-radius: 40px;
}
