.header {
    background-color: #1C1C21;
}

.header-wrap {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation-list {
    display: flex;
    flex-direction: row;
}

.navigation-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-item-size {
    font-size: 16px;
}

.logo {
    margin-left: -10vw;
}